<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Devour{{else}}Eat Again{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Remove Burger</button>
</li>